.info-window{
  text-align: left;

  &__shopname {
    color: #444;
    font-size: 1rem;
    margin: 1rem 0;
  }

  ul{
    line-height: 1.85;
  }

  &__hours, &__address {
    color: #444;
    font-size: .8rem;
  }

  &__link a {
    color: #888;
    font-weight: 600;
    text-decoration: none;
  }
}
