@import '../../styles/config.mixins.scss';
.top-container{
  height:100%;
  width:100vw;
  background: #b41414;
  @include sp{
    height:55vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10vh 0 0;
  }
}

.title{
  width:max-content;
  font-style:oblique;
  transform: rotate(-10deg);
  margin:-4rem auto 0;

  .maintitle{
    font-size: 12vw;
    margin-bottom:0;
    @include sp{
      font-size: 22vw;
      margin:0;
    }
  }

  .subtitle{
    font-size: 40px;
    margin:0 0 4rem 0;
    text-align: right;
    @include sp{
      font-size: 7vw;
      margin:auto;
    }
  }

}

.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include sp{
    margin-top:3rem;
  }

  .option-circle{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height:120px;
    margin:0 20px 35px;
    border-radius:75px;

    @include sp{
      width:65px;
      height:65px;
      margin:0 .375rem 10px;
    }

    &.coffee{
      background: rgba(110, 45, 25, 1);
    }

    &.bubbletea{
      background:rgba(210, 25, 30, 1);
    }

    &.wifi{
      background:rgba(230, 40, 35, 1);
    }

    &.outlet{
      background:rgba(240, 150, 50, 1);
    }

  }

}

.option-title{
  font-weight:bold;
  @include sp{
    font-size:13px;
  }
}