.container{
  width:100vw;
  height:100vh;
  background: #b41414;
}

.title{
  font-style:oblique;
  transform: rotate(-10deg);
  margin:0;

  .maintitle{
    font-size: 175px;
    margin-bottom:0;
  }

  .subtitle{
    font-size: 40px;
    margin:0 0 4rem 0;
  }

}

.options{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .option-circle{
    display: flex;
    flex-direction:column;
    width: 150px;
    height:150px;
    margin:0 20px 35px;
    border-radius:75px;

    &.coffee{
      background: rgba(110, 45, 25, 1);
    }

    &.juice{
      background:rgba(210, 25, 30, 1);
    }

    &.wifi{
      background:rgba(230, 40, 35, 1);
    }

    &.outlet{
      background:rgba(240, 150, 50, 1);
    }

  }

}

.option-title{
  font-weight:bold;
}