@import '../../styles/config.mixins.scss';
.container{
  height:auto;
  width:100vw;
  background: #b41414;
  @include sp{
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.title{
  width:max-content;
  font-style:oblique;
  transform: rotate(-10deg);
  margin:-4rem auto 0;

  .maintitle{
    font-size: 175px;
    margin-bottom:0;
    @include sp{
      font-size: 70px;
      margin:0;
    }
  }

  .subtitle{
    font-size: 40px;
    margin:0 0 4rem 0;
    @include sp{
      font-size: 25px;
      margin:auto;
    }
  }

}

.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include sp{
    margin-top:5rem;
  }

  .option-circle{
    display: flex;
    flex-direction:column;
    width: 150px;
    height:150px;
    margin:0 20px 35px;
    border-radius:75px;

    @include sp{
      width:60px;
      height:60px;
      margin:0 7px 35px;
    }

    &.coffee{
      background: rgba(110, 45, 25, 1);
    }

    &.juice{
      background:rgba(210, 25, 30, 1);
    }

    &.wifi{
      background:rgba(230, 40, 35, 1);
    }

    &.outlet{
      background:rgba(240, 150, 50, 1);
    }

  }

}

.option-title{
  font-weight:bold;
  @include sp{
    font-size:13px;
  }
}