@import '../../styles/config.mixins.scss';

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:3rem 0 0;
  @include sp{
    margin: 4rem 0 0;
  }

  li{
    margin:0 5px;
  }

  :nth-of-type(2)::before{
    content:' | ';
  }
}

.copyright{
  margin-top:10px;
}
